
@using Microsoft.AspNetCore.Identity;
@using Work.DAL.Extend;

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    var UserId = @userManager.GetUserId(User);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- name of website -->
    <link href="~/assets/css/all.min.css" rel="stylesheet">
    <!--calling file of fontawsome  -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- calling file of css boostrap -->
    <link rel="stylesheet" href="~/assets/css/header.css">

    <!-- calling file of style by developer -->
    <link rel="stylesheet" href="~/assets/css/SharedFile.css">
    <!-- shared file  -->
    @RenderSection("css",required:false)

    <!-- Link Of Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>


    <header class="vh-100">
        <!-- start of navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/assets/images/LogoSmallNavBar.png">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa-solid fa-bars fa-fade text-main-yellow"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center" id="navbar-nav">

                        <li class="nav-item mx-4">
                            <a class="nav-link  navLink @(ViewBag.Title == "Home" ? "active" : " ")" aria-current="page" asp-controller="Home" asp-action="HomePage" style="font-weight: 500;">Home</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="nav-link  navLink @(ViewBag.Title == "About Us" ? "active" : " ")" asp-controller="Home" asp-action="About" style="font-weight: 500;">About Us</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="nav-link  navLink @(ViewBag.Title == "How It Work" ? "active" : " ")" asp-controller="Home" asp-action="HowItWork" style="font-weight: 500;">How It Work</a>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="StudentProfile.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @foreach (var item in userManager.Users.Where(a => a.Id == UserId))
                                    {
                                        @if (item.PicName != null)
                                        {
                                            <img alt="User Pic" src="~/Files/ProfilesPictures/@item.PicName" class="ProfilePhoto">
                                        }
                                        @if (item.PicName == null)
                                        {
                                            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png" alt="" class="ProfilePhoto">
                                        }
                                    }
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item " class="@(ViewBag.Title == "Profile" ? "active" : " ")" asp-controller="Home" asp-action="Profile" style="font-weight: 500;">My Profile </a></li>
                                    <li><hr class="dropdown-divider"></li>

                                    <li><a class="dropdown-item " class="@(ViewBag.Title == "Profile Settings" ? "active" : " ")" asp-controller="Account" asp-action="ProfileSettings" style="font-weight: 500;">Setting </a></li>
                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <form class="dropdown-item" asp-controller="Account" asp-action="Logout" class="nav-link">
                                            <input type="submit" value="Log Out" class="btn btn-light" />
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
        <!-- End of Navbar -->

        <div>
            @RenderBody()
        </div>
    </header>

    <script src="~/assets/js/jqu.js"></script>
    <script src="~/assets/js/Header.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    @RenderSection("js",required:false)

</body>

</html>