@inject Work.BL.Interface.IUserRep UserRep;
@inject Work.BL.Interface.IChatRep ChatRep;

@{
    ViewData["Title"] = "Chat Page";
    var UserEmail = ViewBag.UserEmail;
    //var UserName = ViewBag.User;
}

@section css
{
    <link rel="stylesheet" href="~/assets/css/Chat.css">
}

    
<section class="gradient-custom" style="min-height: 700px;background: linear-gradient(to bottom right, #F44336, #009688);">
    <div class="container py-5" style="display:flex;">

        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0" style="width: 67%;margin-right: 220px;">

                <h5 class="font-weight-bold mb-3 text-center text-white">Members</h5>
                <input type="hidden" id="CurrentUser" value="@UserEmail" />
                <div class="card mask-custom">
                    <div class="card-body">

                        <ul class="list-unstyled mb-0">

                            <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                                <div id="UserJoin" class="d-flex justify-content-between link-light">
                                    <div class="d-flex flex-row">
                                        <p class="fw-bold mb-0" style="text-align:center">@UserEmail</p><br />
                                        </div>
                                        <div class="d-flex flex-row">
                                        <button id="JoinGroup" class="btn btn-info">Start Chating</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

            <div id="ChatContainer" class="col-md-6 col-lg-7 col-xl-7" style="display:none">

                <ul id="messagesList" class="list-unstyled text-white">
                    @foreach (var chat in ChatRep.Get().Where(a => a.GroupName == "ChatGrouping").OrderBy(a => a.CreatedAt))
                    {
                        @if ((chat.SenderName == User.Identity.Name || chat.RecieverName == User.Identity.Name) && (chat.SenderName == UserEmail || chat.RecieverName == UserEmail))
                        {
                            <li class="d-flex justify-content-between mb-4" style=" flex-flow:@(chat.SenderName == User.Identity.Name ? "row-reverse" :"row");">

                                <div class="card mask-custom" style="background-color:@(chat.SenderName == User.Identity.Name ? "#0d68fd" :"#5c5c5c")">
                                    <div class="card-header d-flex justify-content-between p-3"
                                            style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                        <p class="fw-bold mb-0">@chat.SenderName</p>
                                        <p class="text-light small mb-0"><i class="far fa-clock"></i> @chat.CreatedAt</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-0">
                                            @chat.Message
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <div class="mb-3">
                    <input type="hidden" id="userId" value="@User.Identity.Name" />
                    <input type="hidden" id="receiverInput" value="@UserEmail" readonly>

                    <div class="form-outline form-white">
                        <label class="form-label" for="textAreaExample3">Message</label>
                        <textarea class="form-control" id="messageInput" rows="4"></textarea>
                    </div>
                </div>
                <button type="button" id="sendButton" class="btn btn-primary">Send</button>

            </div>

        </div>

    </div>
</section>
@section js
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}