@inject Work.BL.Interface.IUserRep UserRep;
@{
    ViewData["Title"] = "Chat Page";
    //var UsersList = ViewBag.UsersList;
    //var UserName = ViewBag.User;
}

<div class="container">

    <div class="row">
        <div class="col-2">Start Chat</div>
        <input type="hidden" id="UserEmail" value="@User.Identity.Name" />
        <ul>
            @foreach (var item in UserRep.Get())
            {
                <li>
                    <div class="row">
                        <p id="RecieverEmail" value="@item.Email">@item.UserName</p>
                        <a class="btn btn-success" asp-controller="Investor" asp-action="Create" asp-route-RecieverEmail="@item.Email"><b>Chat</b></a>

                        <button id="SendRequest" class="btn btn-dark SendRequest" data-receiver_email="@item.Email" data-sender_email="@User.Identity.Name"
                            data-message="Send You A Request To Chat">
                            Send Request
                        </button>
                    </div>
                </li>
            }
        </ul>
    </div>
<div>

