@using Microsoft.AspNetCore.Identity;
@using Work.DAL.Extend;

@model Work.BL.Models.PostVM

@inject SignInManager<ApplicationUser> signInManager
@inject Work.BL.Interface.IPostRep PostRep;
@inject Work.BL.Interface.IReplyRep ReplyRep;

@{
    ViewData["Title"] = "Posts";
    var Posts = ViewBag.Posts;
    var UserId = TempData["UserId"];
}

@section css
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/assets/css/AddPost.css">
    <link rel="stylesheet" href="~/assets/css/ReplayEnquerySpech.css">
}

<div class="container " style="background-color: #f7f7f7; padding: 60px;position:relative">
    <div class="container py-5">

        @if (signInManager.IsSignedIn(User) && User.IsInRole("Student"))
        {
        <div style="position:absolute; top:20px">
            <button type="button" class="btn btn-outline-warning btn-lg btn-block" data-toggle="modal" data-target="#AddPost">
                Add Post
            </button>
        </div>
        }
        @* -------------- Show Posts --------------*@
        <div id="PostsContainer" class="row">
            @foreach (var post in Posts)
            {
                <div class="col-lg-12 d-flex align-items-center containerEnquery position-relative">
                    <div class="DataOfPersoneOfGraduated position-absolute start-0 d-flex">
                        <img src="~/assets/images/student.jpg" alt="" class="rounded-circle" width="50" height="50">
                        <h5 class="text-black mx-2">@post.UserEmail</h5>
                    </div>
                    <div class="container-fluid  ">
                        <div class="row w-100">
                            <div class="col-lg-9">
                                @post.Content
                            </div>

                            <div class="col-lg-3 text-end">

                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                  <div class="btn-group mr-2" role="group" aria-label="First group">

                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Student") && post.UserEmail == User.Identity.Name)
                                        {
                                            <button type="button" id="EditPostShow" class="btn btn-warning EditPostShow" style="background-color: #FF9800;" data-toggle="modal" data-target="#EditPost"
                                                data-user_id="@post.UserId" data-post_id="@post.Id" data-post_content="@post.Content" href="#EditPost">
                                                <i class="fa-solid fa-pen-to-square"></i> Edit
                                            </button>

                                            <button type="button" id="DeletePostShow" class="btn btn-warning DeletePostShow" style="background-color: #FF9800;" data-toggle="modal" data-target="#DeletePost"
                                                data-user_id="@post.UserId" data-post_id="@post.Id" data-post_content="@post.Content">
                                                <i class="fa-solid fa-trash"></i> Remove
                                            </button>
                                        }
                                        <button type="button" class="btn btn-warning" style="background-color: #FF9800;">
                                            <a asp-controller="Student" asp-action="ShowPost" asp-route-PostId="@post.Id" asp-route-UserId="@UserId"> Replay</a>
                                        </button>

                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--  Add Modal -->
    <div class="modal fade" id="AddPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Student" asp-action="CreatePost">
                    <div class="modal-body">

                        <input type="hidden" class="form-control" asp-for="UserId" value="@UserId">
                        <input type="hidden" class="form-control" asp-for="UserEmail" value="@User.Identity.Name">
                        <input type="hidden" class="form-control" asp-for="Title" value="Title">

                        <div class="form-group">
                            <label asp-for="Content">The Content</label>
                            <textarea class="form-control" asp-for="Content" placeholder="Content">
                            </textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-warning" value="Post">
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Add Modal -->

<!-- ------------------------------------------------------------------------------------------ -->
    <!-- Modal effects Add-->
    <div class="modal" id="EditPost">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Student" asp-action="EditPost" method="POST">
                    <div class="modal-body">

                        <input type="hidden" id="Id" asp-for="Id" />
                        <input type="hidden" id="UserId" asp-for="UserId" />
                        <input type="hidden" asp-for="UserEmail" value="@User.Identity.Name" />
  	                    <input type="hidden" class="form-control" asp-for="Title" value="Title">

                        <div class="form-group">
                            <label asp-for="Content">The Content</label>
                            <textarea class="form-control" id="Content" asp-for="Content" >
                            </textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-primary" type="submit">Save changes</button>
                        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal effects-->
<!--  ----------------------------------------------------------------------------------------- -->

    <!--  Delete Modal -->
    <div class="modal fade" id="DeletePost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Student" asp-action="DeletePost">
                    <div class="modal-body">

                        <input type="hidden" id="Id" asp-for="Id" />
                        <input type="hidden" id="UserId" asp-for="UserId" />
                        <input type="hidden" asp-for="UserEmail" value="@User.Identity.Name" />
                        <input type="hidden" class="form-control" asp-for="Title" value="Title">

                        <div class="form-group">
                            <label asp-for="Content">The Content</label>
                            <textarea class="form-control" id="Content" asp-for="Content">
                            </textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-warning" value="Delete">
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Delete Modal -->

@section js
{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script>
        $('#EditPostShow').on('click', function (event) {
            var button = $(event.target)
            var Id = button.attr('data-post_id')
            var UserId = button.attr('data-user_id')
            var Content = button.attr('data-post_content')
            $('#EditPost #Id').val(Id);
            $('#EditPost #UserId').val(UserId);
            $("#EditPost #Content").val(Content)
        })
    </script>

    <script>
        $('.DeletePostShow').on('click', function (event) {
            var button = $(event.target)
            var Id = button.attr('data-post_id')
            var UserId = button.attr('data-user_id')
            var Content = button.attr('data-post_content')
            $('#DeletePost #Id').val(Id);
            $('#DeletePost #UserId').val(UserId);
            $("#DeletePost #Content").val(Content)
        });

    </script>

}

